### Downloading Nasdaq Futures Prices and Calculating Annualized Mean Logarithmic Return

In [35]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt

ticker = "NQ=F"
dataset = yf.download(ticker)
nasdaq = pd.DataFrame(dataset)
nasdaq

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close  Volume
Date
2000-09-18   3721.00   3785.50   3602.00   3653.50    3653.50   72994
2000-09-19   3658.50   3817.00   3656.00   3804.00    3804.00   70029
2000-09-20   3801.50   3874.00   3715.50   3853.00    3853.00   78832
2000-09-21   3852.00   3874.00   3744.00   3765.00    3765.00   70719
2000-09-22   3673.00   3780.00   3615.00   3776.00    3776.00   55926
...              ...       ...       ...       ...        ...     ...
2024-01-22  17466.00  17585.00  17434.00  17458.50   17458.50  637245
2024-01-23  17461.00  17558.25  17409.50  17531.25   17531.25  508078
2024-01-24  17554.00  17793.50  17552.25  17621.00   17621.00  721605
2024-01-25  17614.75  17752.00  17542.00  17634.50   17634.50  721605
2024-01-26  17571.25  17632.00  17466.00  17526.75   17526.75  524834

[5901 rows x 6 columns]

In [36]:
nasdaq['log_return'] = np.log(nasdaq['Adj Close'] / nasdaq['Adj Close'].shift(1))
annualized_log_return = round((nasdaq['log_return'].mean() * 252)*100, 2)
print(f"Annualized Return {annualized_log_return} % ")

Annualized Return 6.7 %